/* Default properties of Frontend Mentor */
.attribution {
	font-size: calc(11px + 0.1vw);
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
/* Default properties of Frontend Mentor */



/* General configuration */
body {
	font-family: "Open Sans", sans-serif;
}

h1, button {
	font-family: "Raleway", sans-serif;
	color: hsl(243, 87%, 12%);
}

p {
	color: hsl(243, 87%, 12%);
	margin-top: 20px;
}

button {
	border: none;
}

input, button {
	border-radius: 3px;
}

input::placeholder {
	color: hsl(0, 0%, 75%);
}

.primary-button {
	color: white;
	background-color: hsl(224, 93%, 58%);
	border: 1px solid hsl(224, 93%, 58%);
}

.primary-button:hover {
	background-color: white;
	color: hsl(224, 93%, 58%);
}

@media (max-width: 750px) {
	h1,
	p {
		text-align: center;
	}
}
/* General configuration */



/* Header configuration */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

header img {
	width: 10%;
}

.header-buttons {
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 2%;
}

header button {
	background-color: transparent;
	flex: 1 0 auto;
	margin: 0 2%;
	padding: 1% 7%;
	font-size: calc(12px + 0.5vw);
}

header button:hover {
	background-color: hsl(224, 93%, 58%);
	color: white;
}

@media (max-width: 1250px) {
	header img {
		width: 130px;
	}

	header button {
		padding: 1px 5px;
	}
}

@media (max-width: 375px) {
	header img {
		width: 90px;
	}
}
/* Header configuration */



/* Sections configuration */
section {
	padding: 5% 3%;
	display: flex;
}

section > * {
	flex: 1;
}

section h1 {
	font-size: calc(32px + 1vw);
}

.info {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.info p {
	font-size: calc(12px + 0.5vw);
	padding-right: 3%;
}

@media (max-width: 1250px) {
	section {
		flex-direction: column-reverse;
	}

	section img:nth-child(2) {
		width: 75%;
		align-self: center;
	}
}

@media (max-width: 375px) {
	section h1 {
		font-size: 26px;
	}
}
/* Sections configuration */



/* Section 1 configuration */
.actions {
	display: flex;
	margin-top: 2%;
	padding-right: 4%;
}

.section-1 input {
	flex: 2;
	padding: 10px 20px;
	margin-right: 2%;
	border: 1px solid hsl(238, 22%, 44%);
	font-size: calc(12px + 0.5vw);
}

.section-1 button {
	flex: 1;
	font-size: calc(12px + 0.5vw);
}

@media (max-width: 750px) {
	.actions {
		flex-direction: column;
		align-items: center;
	}

	.section-1 input,
	.section-1 button {
		width: 90%;
		margin: 0;
	}

	.section-1 button {
		margin-top: 5%;
		padding: 10px 0;
	}
}
/* Section 1 configuration */



/* Section 2 configuration */
.section-2 {
	background-color: hsl(240, 75%, 98%);
}

.mobile-active {
	display: none;
}

.desktop-active {
	width: 100%;
	position: relative;
	top: 20px;
}

.link {
	margin: 2% 0 2.5%;
}

.link a {
	color: hsl(170, 45%, 43%);
	font-size: calc(14px + 0.5vw);
}

.link a:hover {
	padding-bottom: 3px;
	border-bottom: 1px solid hsl(170, 45%, 43%);
}

.link img {
	width: 2%;
}

.testimonial {
	width: 75%;
	padding: 3% 3.5%;
	border-radius: 5px;
	background-color: white;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),
				-3px -3px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.testimonial > img {
	flex: 1;
	width: 5%;
	height: auto;
}

.testimonial p {
	flex: 5;
	font-size: calc(12px + 0.5vw);
	padding: 0;
	margin-bottom: 20px;
}

.testimonial .author {
	flex: 1;
	display: flex;
	align-items: center;
}

.author > img {
	width: 10%;
	height: auto;
	border-radius: 50%;
	margin-right: 10px;
}

.author-info p {
	margin: 0;
}

@media (max-width: 1250px) {
	.testimonial {
		align-self: center;
		justify-content: flex-start;
	}

	.link {
		align-self: center;
	}
}

@media (max-width: 750px) {
	.desktop-active {
		display: none;
	}

	.mobile-active {
		display: unset;
		width: 100%;
		position: relative;
		top: 20px;
	}

	.section-2 p {
		text-align: left;
	}

	.link img {
		width: 15px;
		height: 15px;
	}
}
/* Section 2 configuration */



/* Section 3 configuration */
.section-3 {
	background-color: hsl(238, 22%, 44%);
}

.section-3 h1,
.section-3 p,
.section-3 button {
	color: white;
}

.get-started {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.get-started input {
	width: 75%;
	margin-bottom: 2%;
	padding: 1% 2%;
	border: none;
	font-size: calc(12px + 0.5vw);
}

.get-started button {
	width: max-content;
	padding: 1.5% 2.5%;
	font-size: calc(12px + 0.5vw);
}

@media (max-width: 1250px) {
	.get-started {
		order: -1;
		margin-top: 3%;
	}
}

@media (max-width: 750px) {
	.section-3 .info {
		text-align: center;
	}

	.get-started {
		align-items: center;
	}

	.section-3 input,
	.section-3 button {
		width: 50%;
	}
}
/* Section 3 configuration */



/* Footer configuration */
footer {
	padding: 5% 5% 3% 3%;
	background-color: hsl(243, 87%, 12%);
	display: flex;
	flex-direction: column;
}

footer > img {
	width: 10%;
	flex: 1;
	margin-bottom: 2%;
	filter: brightness(0) invert(1);
}

.extra-info {
	flex: 5;
	display: flex;
	color: white;
	justify-content: space-between;
}

.extra-info p {
	color: white;
	font-size: calc(12px + 0.5vw);
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contact {
	display: flex;
	align-items: center;
	margin-bottom: 2%;
}

.contact img {
	flex: 1;
	max-width: 20px;
	height: 20px;
	margin-right: 15px;
}

.contact p {
	flex: 10;
	margin: 0;
}

.about-fylo li {
	margin-bottom: 15px;
	font-size: calc(12px + 0.5vw);
}

.logos {
	display: flex;
	align-items: flex-start;
}

.logos li {
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logos li > * {
	font-size: calc(14px + 0.5vw);
}

@media (max-width: 1250px) {
	footer img {
		width: 130px;
	}
}

@media (max-width: 750px) {
	footer {
		padding-top: 30px;
		padding-left: 30px;
	}

	.extra-info {
		flex-wrap: wrap;
	}

	.logos {
		flex-basis: 100%;
		justify-content: center;
		margin-top: 5%;
	}
}

@media (max-width: 500px) {
	.extra-info {
		flex-direction: column;
	}

	footer > img {
		width: 50%;
		margin-bottom: 50px;
	}

	ul {
		margin-top: 60px;
	}

	.extra-info p {
		text-align: left;
	}
}
/* Footer configuration */

.credits p {
	margin: 0;
}
