/* Default properties of Frontend Mentor */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
/* Default properties of Frontend Mentor */



/* General configuration */
body {
	font-family: "Open Sans", sans-serif;
}

h1, button {
	font-family: "Raleway", sans-serif;
	color: hsl(243, 87%, 12%);
}

p {
	color: hsl(243, 87%, 12%);
	margin-top: 20px;
}

button {
	border: none;
}

input, button {
	border-radius: 3px;
}

input::placeholder {
	color: hsl(0, 0%, 75%);
}

.primary-button {
	color: white;
	background-color: hsl(224, 93%, 58%);
	border: 1px solid hsl(224, 93%, 58%);
}

.primary-button:hover {
	background-color: white;
	color: hsl(224, 93%, 58%);
}
/* General configuration */



/* Header configuration */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px;
}

.header-buttons {
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
}

header button {
	background-color: transparent;
	flex: 1 0 auto;
	margin: 0 10px;
	padding: 5px 10px;
}

header button:hover {
	background-color: hsl(224, 93%, 58%);
	color: white;
}
/* Header configuration */



/* Sections configuration */
section {
	padding: 100px 60px;
	display: flex;
}

section > * {
	flex: 1;
}

section h1 {
	font-size: 38px;
}

.info {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.info p {
	font-size: 18px;
	padding-right: 60px;
}
/* Sections configuration */



/* Section 1 configuration */
.actions {
	display: flex;
	margin-top: 20px;
	padding-right: 80px;
}

.section-1 input {
	flex: 2;
	padding: 10px 20px;
	margin-right: 20px;
	border: 1px solid hsl(238, 22%, 44%);
}

.section-1 button {
	flex: 1;
}
/* Section 1 configuration */



/* Section 2 configuration */
.section-2 {
	background-color: hsl(240, 75%, 98%);
	position: relative;
	margin-top: 100px;
}

.section-2::before {
	content: "";
	width: 100%;
	height: 100px;
	position: absolute;
	top: -100px;
	left: 0;
	background-image: url("./images/bg-curve-desktop.svg");
	background-repeat: no-repeat;
}

.link {
	margin: 20px 0 30px;
}

.link a {
	color: hsl(170, 45%, 43%);
	font-size: 18px;
}

.link a:hover {
	padding-bottom: 3px;
	border-bottom: 1px solid hsl(170, 45%, 43%);
}

.testimonial {
	width: 75%;
	padding: 30px 40px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),
				-3px -3px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.testimonial > img {
	flex: 1;
	width: 5%;
	height: auto;
}

.testimonial p {
	flex: 5;
	font-size: 14px;
	padding: 0;
	margin-bottom: 20px;
}

.testimonial .author {
	flex: 1;
	display: flex;
	align-items: center;
}

.author > img {
	width: 10%;
	height: auto;
	border-radius: 50%;
	margin-right: 10px;
}

.author-info p {
	margin: 0;
}
/* Section 2 configuration */



/* Section 3 configuration */
.section-3 {
	background-color: hsl(238, 22%, 44%);
}

.section-3 h1,
.section-3 p,
.section-3 button {
	color: white;
}

.get-started {
	display: flex;
	flex-direction: column;
}

.get-started input {
	width: 75%;
	margin-bottom: 20px;
	padding: 10px 20px;
	border: none;
}

.get-started button {
	width: 30%;
	padding: 15px 25px;
}
/* Section 3 configuration */



/* Footer configuration */
footer {
	padding: 100px 100px 60px 60px;
	background-color: hsl(243, 87%, 12%);
	display: flex;
	flex-direction: column;
}

footer > img {
	width: 15%;
	flex: 1;
	margin-bottom: 30px;
	filter: brightness(0) invert(1);
}

.extra-info {
	flex: 5;
	display: flex;
	color: white;
	justify-content: space-between;
}

.extra-info p {
	color: white;
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contact {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.contact img {
	flex: 1;
	max-width: 20px;
	height: 20px;
	margin-right: 15px;
}

.contact p {
	flex: 10;
	margin: 0;
}

.about-fylo li {
	margin-bottom: 15px;
}

.logos {
	display: flex;
	align-items: flex-start;
}

.logos li {
	border: 1px solid white;
	border-radius: 50%;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Footer configuration */

.credits p {
	margin: 0;
}